<div>
    <h1>Estrella Detalles</h1>
    <p>A continuación verás una unica Estrella y sus atributos</p>

    <ul>
        <li>Nombre Estrella: {{star.nombre_estrella}}</li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Planeta</th>
                <th>Descripcion</th>
                <th>Viajar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let planet of planets">
                <td>{{planet.id}}</td>
                <td>{{planet.nombrePlaneta}}</td>
                <td>{{planet.descripcionPlaneta}}</td>
                <td><a [routerLink]="['/planet/view', player.id, star.id, planet.id]">Go!!</a></td>
            </tr>
        </tbody>
    </table>


</div>