<div>
    <h1>Planeta Detalles</h1>
    <p>A continuación verás un unico planeta y sus atributos</p>

    <ul>
        <li>Nombre Planeta: {{planet.nombrePlaneta}}</li>
    </ul>
    <app-product-view></app-product-view>

    <!-- <table>
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Descripcion</th>
                <th>Viajar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let planet of planets">
                <td>{{planet.id}}</td>
                <td>{{planet.nombrePlaneta}}</td>
                <td>{{planet.descripcionPlaneta}}</td>
                <td><a [routerLink]="['/planet/view', player.id, star.id, planet.id]">Go!!</a></td>
            </tr>
        </tbody>
    </table> -->


</div>