<div>
    <h1>Planeta Detalles</h1>
    <p>A continuación verás un unico planeta y sus atributos</p>

    <ul>
        <li>Nombre Planeta: {{planet.nombrePlaneta}}</li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Productos</th>
                <th>factor_Demanda</th>
                <th>Stock</th>
                <th>Viajar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productXplanet of productsXplanet">
                <td>{{productXplanet.id}}</td>
                <td>{{productXplanet.productoNombre}}</td>
                <td>{{productXplanet.factor_Demanda}}</td>
                <td>{{productXplanet.stock}}</td>
                <td><a [routerLink]="['/player/list']">Back!!</a></td>
            </tr>
        </tbody>
    </table>
    


</div>